[submodule "be-opname"]
	path = be-opname
	url = https://github.com/januarsyah901/BE-OPNAME.git
[submodule "fe-opname"]
	path = fe-opname
	url = https://github.com/hafidzrizqullahprasetya/auto-service.git
